<div class='home-container'>
	<form method='post' action='/api/sessions/logout'>
		<p>Welcome <strong>{{user.email}}</strong></p>
		<p>Your role is <strong>{{user.role}}</strong></p>
		<input type='submit' value='Logout' class='home-button' />
	</form>
</div>