<div class='register-container'>

	<p>Register</p>
	<a href='/login'>Sign in</a>
	<a href='/api/sessions/github'>Github</a>

	<form class='register-form'>

		<label>First name</label>
		<input type='text' name='first_name' required />

		<label>Last name</label>
		<input type='text' name='last_name' required />

		<label>Email</label>
		<input type='email' name='email' required />

		<label>Password</label>
		<input type='password' name='password' required />

		<input type='submit' value='Send' class='register-button' />
	</form>

</div>

<script src='/js/register.js'></script>