.container {
	background-color: rgba(226, 194, 255, 0.742);
	padding: 10px;
	border-radius: 20px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 30%;
	margin: auto;
}

.title-text {
	font-size: 40px;
	text-align: center;
}

.chat-container {
	border: solid 2px black;
	border-radius: 10px;
	height: 500px;
	padding: 10px;
	overflow-y: scroll;
}

.chat-container::-webkit-scrollbar {
	-webkit-appearance: none;
}

.chat-message {
	font-size: 18px;
	word-wrap: break-word;
}

.input-container {
	margin: auto;
	padding: 10px;
	width: 80%;
}

.input-text {
	height: 35px;
	padding-left: 10px;
	width: 100%;
	font-size: 16px;
	border: none;
	outline: none;
	border-radius: 10px;
}