.product-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 50px;
}

.product-item {
	padding: 20px;
	display: flex;
	flex-flow: column nowrap;
	font-size: 22px;
	gap: 20px;
}

.product-button {
	font-size: 16px;
	padding: 5px;
	cursor: pointer;
	background-color: black;
	border: none;
	color: white;
	font-family: 'Comfortaa';
	font-weight: 600;
	padding: 10px;
	border-radius: 10px;
}